.container {
  display: flex;
  justify-content: center;
  height: 56px;
  background-color: var(--dark-grey);
  width: 100vw;
}

.wrapper {
  height: 56px;
  display: flex;
  background-color: var(--dark-grey);
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  position: fixed;
  width: calc(100vw - 20px);
  max-width: var(--maxWidth);
  z-index: 1;
}

.wrapper__left {
  display: flex;
}

.left__burger {
  width: 60px;
  height: 40px;
}

.burger {
  cursor: pointer;
  transition: filter 0.3s 0.1s ease;
}

.burger_active {
  filter: drop-shadow(0 0 1px var(--blue));
}

.left__logo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: var(--grey);
  height: 40px;
  width: 140px;
  border-radius: 5px;
  text-decoration: none;
  transition: filter 0.3s 0.1s ease;
}

@media (hover: hover) and (pointer: fine) {
  .left__logo:hover {
    filter: drop-shadow(0 0 2px var(--blue));
  }

  .right__profileIcon:hover {
    filter: drop-shadow(0 0 2px var(--blue));
  }

  .burger:hover {
    filter: drop-shadow(0 0 2px var(--blue));
  }
}

.left__logo span {
  font-family: "Long Cang", cursive;
  font-size: 48px;
  line-height: 48px;
  color: var(--blue);
  text-transform: uppercase;
  letter-spacing: 4.8px;
}

.right__profileIcon {
  height: 40px;
  width: 40px;
  cursor: pointer;
  transition: filter 0.3s 0.1s ease;
}

.right__profileIcon_active {
  filter: drop-shadow(0 0 1px var(--blue));
}
