.wrapper {
  display: flex;
  height: calc(100lvh - 56px);
}

.wrapper__info {
  max-width: 400px;
  width: 80vw;
  border-right: 4px var(--dark-grey) solid;
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 10px;
  padding-top: 24px;
  font-family: var(--NunitoFont);
  text-align: center;
}

.info__ctrl {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 10px;
}

.info__title {
  font-size: 24px;
  font-weight: 500;
}

.info__name {
  font-size: 20px;
}

.info__descr {
  line-height: 20px;
  font-size: 18px;
  text-align: justify;
}

.info__descr::before {
  content: "";
  display: inline-block;
  width: 24px;
}

.info__label {
  align-self: flex-start;
}

.info__students {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}

.wrapper__tasks {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.tasks__create {
  display: flex;
  justify-content: center;
  padding: 10px;
  padding-bottom: 10px;
}

.create__addBtn {
  padding: 12px 25px;
  background-color: var(--grey);
  border-radius: 10px;
  cursor: pointer;
  filter: drop-shadow(0 0 1px var(--blue));
  transition: filter 0.3s 0.1s ease;
  text-decoration: none;
}

.create__addBtn p {
  color: white;
  font-family: var(--NunitoFont);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.6px;
}

@media (hover: hover) and (pointer: fine) {
  .create__addBtn:hover {
    filter: drop-shadow(0 0 2px var(--blue));
  }
}

.tasks__list {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  overflow-y: auto;
  padding: 10px;
  padding-top: 5px;
}
