.wrapper {
  display: flex;
  gap: 10px;
}

.wrapper__info {
  max-width: 400px;
  width: 80vw;
  border-right: 4px var(--dark-grey) solid;
  height: calc(100lvh - 90px);
  max-height: calc(100lvh - 90px);
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 10px;
  padding-top: 24px;
  font-family: var(--NunitoFont);
  text-align: center;
}

.info__title {
  font-size: 24px;
  font-weight: 500;
}

.info__name {
  font-size: 20px;
}

.info__descr {
  line-height: 20px;
  font-size: 18px;
  text-align: justify;
}

.info__descr::before {
  content: "";
  display: inline-block;
  width: 24px;
}

.info__label {
  align-self: flex-start;
}

.info__students {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}
