.mask {
  background-color: var(--dark-grey);
  opacity: 0.5;
  height: 100dvh;
  width: 100vw;
  position: fixed;
  inset: 0;
  cursor: default;
}

.container {
  background-color: var(--dark-grey);
  z-index: 10;
  border-radius: 10px;
  outline: 1px solid var(--blue);
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  padding: 10px;
  font-family: var(--NunitoFont);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transform: translate3d(0, 0, 0);
  will-change: transform;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.wrapper::-webkit-scrollbar-track {
  border-radius: 10px;
}

.container > p {
  font-size: 16px;
  text-align: center;
  padding: 10px 0;
  letter-spacing: 0.7px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  font-family: var(--NunitoFont);
  text-rendering: geometricPrecision;
}

.wrapper .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: var(--NunitoFont);
  width: 60vw;
  max-width: 800px;
}

.form__input {
  font-size: 20px;
  font-family: var(--NunitoFont);
}

.form__submit {
  padding: 10px 15px;
  width: fit-content;
  color: white;
  border-radius: 10px;
  background-color: var(--light-grey);
  filter: drop-shadow(0 0 1px var(--blue));
  font-family: var(--NunitoFont);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.6px;
  cursor: pointer;
  transition: filter 0.3s 0.1s ease;
  margin-top: 10px;
  transform: translate3d(0, 0, 0);
  will-change: transform;
}

.submit__create {
  position: sticky;
}

.student__remove {
  padding: 20px;
  font-family: var(--NunitoFont);
  color: var(--blue);
  font-size: 30px;
  font-weight: 800;
  border: 2px solid var(--grey);
  border-radius: 5px;
  line-height: 60%;
  transition: all 150ms linear;
  user-select: none;
  cursor: pointer;
}

@media (hover: hover) and (pointer: fine) {
  .student__remove:hover {
    border: 2px solid var(--blue);
  }
}

.wrapper__students {
  width: 90vw;
  height: calc(100lvh - 250px);
  max-width: 1500px;
  display: flex;
  position: relative;
  gap: 20px;
}

.students__selected {
  width: 50%;
  overflow-y: auto;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.selected__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.selected__row div:first-child {
  flex: 1;
}

.selected__row div:first-child > p {
  text-align: left;
}

.students__search {
  width: 50%;
  overflow-y: auto;
  padding-right: 10px;
}

@media (hover: hover) and (pointer: fine) {
  .form__submit:hover {
    filter: drop-shadow(0 0 2px var(--blue));
  }
}

@media screen and (max-width: 1024px) {
  .wrapper .form {
    width: 90vw;
  }
}

.displayNone {
  display: none;
}
