.wrapper {
  color: var(--white);
  background-color: var(--grey);
  display: flex;
  gap: 10px;
  flex-direction: column;
  height: fit-content;
  padding: 10px;
  border-radius: 10px;
  font-family: var(--NunitoFont);
}

.wrapper__bottom {
  gap: 10px;
}

.wrapper__bottom,
.wrapper__head,
.wrapper__bottom > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper__bottom > div {
  gap: 10px;
}

.head__title {
  font-size: 20px;
}

.head__grade {
  font-size: 22px;
}

.wrapper__description {
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  word-break: break-word;
}

.bottom__created {
  font-size: 16px;
}

@media screen and (max-width: 620px) {
  .wrapper__bottom {
    flex-direction: column;
  }

  .bottom__created {
    text-align: right;
    width: 100%;
  }

  .wrapper__bottom > div {
    width: 100%;
    justify-content: space-between;
  }
}
