.wrapper {
  background-color: var(--grey);
  padding: 10px;
  border-radius: 10px;
  width: calc(33.3vw - 40px);
  font-family: var(--NunitoFont);
  color: white;
  transition: filter 0.3s 0.1s ease;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (hover: hover) and (pointer: fine) {
  .wrapper:hover {
    filter: drop-shadow(0 0 2px var(--blue));
  }
}

.wrapper__head {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}

.head__title {
  font-size: 24px;
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
  padding-right: 40px;
  width: 100%;
  line-height: 120%;
}

.head__teacher {
  font-size: 16px;
  display: flex;
  align-items: center;
}

.wrapper__tasks {
  background-color: var(--dark-grey);
  border-radius: 10px;
  padding: 10px;
}

.tasks__placeholder {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
