.container {
  display: grid;
  place-items: center;
  min-height: calc(100vh - 76px);
  width: 100vw;
  padding: 10px 0;
}

.wrapper {
  width: calc(100vw - 70px);
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
  border: 1px solid var(--blue);
  border-radius: 10px;
  color: var(--white);
  gap: 18px;
  position: relative;
}

.wrapper__content p {
  display: flex;
  flex-wrap: wrap;
  word-break: break-word;
}

.wrapper__head {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.wrapper__head > p {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.head__created {
  display: flex;
  align-items: center;
}

.head__created > span {
  line-height: 15px;
}

.wrapper__head > p:first-child {
  font-size: 16px;
  gap: 5px;
}

.wrapper__head > *:last-child {
  font-size: 20px;
  width: fit-content;
}

.wrapper__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content__title {
  font-size: 24px;
}

.content__description {
  font-size: 18px;
  line-height: 120%;
}

.wrapper__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 18px;
}

@media screen and (max-width: 900px) {
  .wrapper__bottom {
    flex-direction: column;
  }
}

.bottom__links {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom__edit > svg > rect {
  fill: var(--dark-grey);
  display: flex;
}

.bottom__delete > svg > rect {
  fill: var(--dark-grey);
  display: flex;
}

.gradeForm {
  position: absolute;
  background-color: var(--light-grey);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.editForm {
  position: absolute;
  background-color: var(--light-grey);
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  overflow-y: auto;
  width: 80vw;
}

@media screen and (max-width: 620px) {
  .editForm {
    width: calc(100vw - 50px);
  }
}

.mask {
  position: absolute;
  inset: 0;
  background-color: var(--grey);
  opacity: 0.6;
  height: 100%;
  width: 100%;
}

.wrapper__modal {
  position: fixed;
  inset: 0;
  height: 100%;
  width: 100%;
}
